body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    background: url('images/wood.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
header {
padding: 50px;
margin: 20px;
border-radius: 20px;
}
h3 {
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
}

nav{
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    background:#5C4033 ;
    color: white;
    text-align: center;
}

header {
    background: url('images/eatery.png')no-repeat center center/cover;
    background-size: cover;
    color:whitesmoke;
    font-size: 70px;
    text-align: center;
}
 a { 
    background:#5C4033 ;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px 20px;
}
.container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    margin-top: 50px;
}


.box {
    width: 250px; 
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: #5C4033;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 10px; 
}
.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: darkblue;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #b1aeae;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#popup1:target, #popup2:target , #popup3:target  {
    display: block;
}
.close {
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.thank-you {
    text-align: center;
    margin-top: 100px;
    color: white;
}
footer {
    background:#5C4033  ;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 20px;
}
